

      .page-holder {
        min-height: 100vh;
      }
      
      .bg-cover {
        background-size: cover !important;
      }

      .navbar {
        margin-bottom: 0px;
      }

      h1 {
        font-family: 'Special Elite', cursive;
        color: #D4AF37;
      }

      h2 {
        font-family: 'Merriweather', serif;
        color: #D4AF37;
        font-size: 25px;
      }

      p {
        font-family: 'Merriweather', serif;
      }

      #sub {
        color: rgb(148, 147, 147);
      }

      .mainbtn {
        background-color: transparent;
        border: 2px solid #D4AF37;
        color: #D4AF37;
      }

      .mainbtn:hover {
        background-color: #d4af3775;
      }

      a {
        color: #D4AF37;
      }

      a:hover {
        color:#D4AF37;
        text-decoration: none;
      }

      #resultsCard {
        display: none;
      }
    
      #navigation {
        padding-top: 20px;
        padding-bottom: 20px;
      }

      table {
        background-color: #ffffffb2;
      }

    .error {
      color: red;
    }
    .success {
      color: rgb(6, 196, 6);
      font-size: 20px;
    }
    label {
      color: #D4AF37;
    }