

      .page-holder {
        min-height: 100vh;
      }
      
      .bg-cover {
        background-size: cover !important;
      }

      .navbar {
        margin-bottom: 0px;
      }

      h1 {
        font-family: 'Special Elite', cursive;
        color: #D4AF37;
      }

      h2 {
        font-family: 'Merriweather', serif;
        color: #D4AF37;
        font-size: 25px;
        text-shadow: 2px 2px 2px #000;
      }

      p {
        font-family: 'Merriweather', serif;
      }

      #sub {
        color: rgb(148, 147, 147);
      }

      .mainbtn {
        background-color: transparent;
        border: 2px solid #D4AF37;
        color: #D4AF37;
      }

      .mainbtn:hover {
        background-color: #d4af3775;
      }

      a {
        color: #D4AF37;
      }

      a:hover {
        color:#D4AF37;
        text-decoration: none;
      }

      #resultsCard {
        display: none;
      }
    
      #navigation {
        padding-top: 20px;
        padding-bottom: 20px;
      }

      table {
        background-color: #ffffffb2;
      }

    .error {
      color: #a71111;
    }
    .success {
      color: rgb(6, 151, 6);
      font-size: 20px;
    }

    #message {
      color: rgb(6, 151, 6);
      font-size: 20px;
    }

    #error {
      color: #a71111;
    }
    label {
      color: #D4AF37;
    }

    #status {
      font-size: 15px;
      color: rgb(6, 151, 6);
    }

    #checkedstat {
      font-size: 15px;
      color: rgb(6, 151, 6);
    }

    input {
      margin-right: 10px;
    }

    .tableBtn {
      background-color: #D4AF37;
      color: #fff;
    }

    .tableBtn:hover {
      background-color: #e7bf3c;
      color: #fff;
    }

    .removeBtn {
      background-color: #830b0b;
      color: #fff;
    }

    .removeBtn:hover {
      background-color: #a71111;
      color: #fff;
    }

    .check {
      color: rgb(6, 151, 6);
    }

    #x {
      color: #a71111;
    }

    .checkBtn {
      background-color: rgb(6, 151, 6);
      color: #fff;
    }

    .checkBtn:hover {
      background-color: rgb(7, 185, 7);
      color: #fff;
    }

    .menubtn {
      margin-right: 10px;
    }