

      .page-holder {
        min-height: 100vh;
      }
      
      .bg-cover {
        background-size: cover !important;
      }

      .navbar {
        margin-bottom: 0px;
      }

      h1 {
        font-family: 'Special Elite', cursive;
        color: #D4AF37;
      }

      p {
        font-family: 'Merriweather', serif;
      }

      #sub {
        color: rgb(148, 147, 147);
      }

      .mainbtn {
        background-color: transparent;
        border: 2px solid #D4AF37;
      }

      .mainbtn:hover {
        border: 2px solid rgb(155, 33, 33);
      }

      a {
        color: #D4AF37;
      }

      a:hover {
        color:#D4AF37;
        text-decoration: none;
      }

    

      