<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>
 <!-- Page Wrapper -->
<div style="background: url(/images/books.jpg)" class="page-holder bg-cover">

  <div class="container py-5">
    <header class="text-center text-white py-5">
      <h1 class="display-4 font-weight-bold mb-4">My Home Library</h1>
      <p class="lead mb-0" id="sub">Discover What's in Your Library</p>
    </header>

    <div class="text-white">
      
    </div>
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <div class="btn-group btn-group-lg">
          <button class="btn-lg mainbtn"><a href="\library">View Library</a></button>
          <button class="btn-lg mainbtn"><a href="\suggestion">Get Book Suggestion</a></button>
          <button class="btn-lg mainbtn"><a href="\add">Add Book to Library</a></button>
        </div>
      </div>
      <div class="col-sm-3"></div>
    </div>
   

  </div>
</div>
<div class="container">

</div>
  


</body>
</html>

