<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>
<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1>Your Library</h1>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                      <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Details</th>
                      </tr>
                    </thead>
                    <tbody>

                        <% books.forEach(function(book) { %>
                        <tr>    
                            <td><%= book.title %></td>
                            <td><%= book.name %></td>
                            <td><button id=<%= book.book_id %>>Book Details</button></td>
                           
                        </tr>    
                        <% }); %>
                      
                    </tbody>
                  </table>
            </div>
        </div>
        <div class="card" id="resultsCard">
            <div class="card-body">
                <div class="card-header">
                    <h2>About the Book</h2>
                </div>
                <div id="results">
                    <p><span id="book"></span></p>
         
                </div>
            </div>
        </div>
    </div>
    <script>
    
        $(document).ready(function(){
        $(document).on("click","button",function( event ){
            
            //var id= toString((this.id));
            var id = this.id;
            event.preventDefault();

            idObj = new Object();
            idObj.id = id;
            console.log(idObj);
            var data = $.param(idObj);

            //var data = $("form").serialize();
            data += '&format=json';
    
            $.ajax({
                url: "/details",
                type: "GET",
                data: data,
                complete: function(response) {
                    $("#resultsCard").css("display", "block");
                    $('#book').text(response.responseText);
                    //$('#book').innerHTML(html);
                    //$('#book').html(response.responseText);
                    //$('#results').innerHTML(html);

                }
            });
        });
        });

     
    
      </script>

    
</body>
</html>